body {
    height: 100%;
    width: 100%;
    background-color: pink;
}

#wrapper {
    position: relative;
    background-image: url("http://i.imgur.com/RBl8GgU.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 980px;
    height: 650px;
    margin: 0 auto;
}

.slots {
	font-size:80px;
	font-family: 'Monoton', cursive;
	border:5px dotted black;
    float:left;
    overflow: hidden;
    margin-right: 17px;
    text-align:center;
    width:100px;
	height:100px;
}

button.newGame {
    position: absolute;
    border: 5px dotted yellow;
    padding: 3px 35px;
    background-color: #dd60d2;
    text-align: center;
    font-family: 'Monoton', cursive;
    color: white;
    font-size: 30px;
    top: 635px;
    left: 330px;
    outline: none;

}


button.spin {
    border: 5px dotted yellow;
    border-radius: 25px;
    padding: 25px;
    background-color: #dd60d2;
    position: absolute;
    top: 35px;
    left: 847px;
    outline: none;
}


#spinText {
    position: absolute;
    border: 5px dotted yellow;
    font-family: 'Monoton', cursive;
    color: white;
    font-size: 16px;
    background-color: #dd60d2;
    width: 150px;
    height: 40px;
    text-align: center;
    padding: 10px;
    top: 30px;
    left: 950px;
}


#score {
    position: absolute;
    border: 5px dotted yellow;
    font-family: 'Monoton', cursive;
    color: white;
    font-size: 30px;
    background-color: #dd60d2;
    width: 150px;
    height: 200px;
    text-align: center;
    padding: 12px 40px 12px;
    top: 100px;
    left: -150px;
}

button:hover {
    background-color: yellow;
    border: 5px dotted #dd60d2;
    color: black;
}


.slotRow {
    position: relative;
    top: 255px;
    width: 382px;
    height: 300px;
    margin: 0 auto;
}

#slots_a {
    margin-left: -10px;
}

#gameOver {
    position: absolute;
    font-family: 'Monoton', cursive;
    color: black;
    font-size: 25px;
    width: 400px;
    height: 40px;
    text-align: center;
    padding: 10px;
    top: 360px;
    left: 265px;

}